*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(47,150,163) , rgba(48,62,143));
    color: white;
}

.location , .temprature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.temprature{

    flex-direction: column;

}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{

    margin: 10px;
    font-size: 30px;
}
.temprature-degree {
    font-size: 40px;
}
.search-city{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.search-button{
    margin: 10px;
    border-radius: 5px;
    size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    background: aqua;
    height: 35px;
    width: 80px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4 ease 0;
    word-spacing: 3px;
}

.search-button:hover{
    color: white;
    background-color: coral;
    background: coral;
    transition: all 0.4 ease 0;
    box-shadow: inset 0 0 30px rgba(0,0,0,.1),
                      0 20px 20px rgba(0,0,0,.2),
                      0 0 0 4px rgba(255,255,255,1);
}
.temprature-description{
    font-size: 30px;
}
.search-input{
    border-radius: 30px;
    font-size: 27px;
    font-weight: bold;
    border-style: none;
     border: none;
     width: 300px;
     word-spacing: 3px;
}
input{
    border: none;
    border-style: none;
}
.search-input:hover{
    box-shadow: inset 0 0 30px rgba(0,0,0,.1),
    0 20px 20px rgba(0,0,0,.2),
    0 0 0 4px rgba(255,255,255,1);
    border-style: none;
}
input:focus{
    outline: none;
}
.change{
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:500px){
    .search-button{
        height: 20px;
        width: 50px;   
        font-size: 10px;
    }
    .search-input{
        font-size: 11px;
         width: 200px;
    }
    .degree-section span{

        margin: 10px;
        font-size: 20px;
    }
    .temprature-degree {
        font-size: 30px;
    }
    .location-timezone{
        font-size: small;
    }
    .location-city{
        font-size: small;
    }
    .icon{
        width: 100;
        height: 100;
    }
    .change{
        font-size: small;
    }
}
@media only screen and (max-width:300px){
    .search-button{
        height: 10px;
        width: 30px; 
        font-size: 4px;  
    }
    .search-input{
        font-size: 10px;
         width: 100px;
    }
    .degree-section span{

        margin: 5px;
        font-size: 10px;
    }
    .temprature-degree {
        font-size: 20px;
    }
    .location-timezone{
        font-size: smaller;
    }
    .location-city{
        font-size: smaller;
    }
    .icon{
        width: 80;
        height: 80;
    }
    .change{
        font-size: smaller;
    }
}
